*{
  margin: 0;
  padding: 0;
}


.App {
  
  background-color: #f8f8f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

img {
  border-radius: 15px;
  position: absolute;
  top: 100px;
  left: 18%;
  border-radius: 15px;
  border: 2px solid;
  color: black;
  height: 40%;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.timer {
  text-align: center;
  position: relative;
  margin: a;
  justify-content: center;
  color: black;
  border-radius: 15px;
  border: 2px solid;
  background-color: rgb(193, 189, 211);
  position: absolute;
  top: 100px;
  right: 26%;
  padding-top: 5px;
  padding-bottom: 5px;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.clock {
  position: relative;
  margin: a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 410px;
  border-radius: 15px;
  background-color: rgb(193, 189, 211);
}


.clock section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.clock section p {
  font-size: 3rem;
  justify-content: center;
}

.clock section small {
  text-shadow: none;
  justify-content: center;
}

.App-logo {
  height: 10vmin;
  padding-right: 90%;
  padding-top: 1%;
  pointer-events: none;
}

.nftinfo {
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  margin: a;
  height: 11%;
  width: 30.3%;
  border-radius: 15px;
  border: 2px solid;
  color: black;
  background-color: rgb(193, 189, 211);

  position: absolute;
  top: 520px;
  left: 18%;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.topbid {
  text-align: center;
  margin: a;
  height: 7%;
  width: 23.8%;
  color: black;
  border-radius: 15px;
  border: 2px solid;
  background-color: rgb(193, 189, 211);

  position: absolute;
  top: 230px;
  right: 26%;
  padding-top: 10px;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.makeoffer {
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  margin: a;
  height: 15%;
  width: 23.8%;
  color: black;
  border-radius: 15px;
  border: 2px solid;
  background-color: rgb(193, 189, 211);

  position: absolute;
  top: 330px;
  right: 26%;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.connectWallet {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  margin: a;
  height: 20px;
  width: 150px;
  color: black;
  border-radius: 15px;
  border: 2px solid;
  background-color: rgb(193, 189, 211);

  position: absolute;
  top: 25px;
  right: 45px;
  font-weight: bold;
}

.connectMetamask {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  margin: a;
  height: 20px;
  width: 150px;
  color: black;
  border-radius: 15px;
  border: 2px solid;
  background-color: rgb(193, 189, 211);

  position: absolute;
  top: 50px;
  right: 45px;
  font-weight: bold;
}


.buttonWallet {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  margin: a;
  height: 40px;
  width: 170px;
  color: black;
  border-radius: 15px;
  border: 2px solid;
  background-color: rgb(193, 189, 211);

  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

  position: absolute;
  top: 25px;
  right: 45px;
  font-weight: bold;
}

.buttonMetamask {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  margin: a;
  height: 40px;
  width: 170px;
  color: black;
  border-radius: 15px;
  border: 2px solid;
  background-color: rgb(193, 189, 211);

  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

  position: absolute;
  top: 70px;
  right: 45px;
  font-weight: bold;
}

.buttonCoinbase {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  margin: a;
  height: 40px;
  width: 170px;
  color: black;
  border-radius: 15px;
  border: 2px solid;
  background-color: rgb(193, 189, 211);

  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

  position: absolute;
  top: 70px;
  right: 45px;
  font-weight: bold;
}

.buttonPhantom {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  margin: a;
  height: 40px;
  width: 170px;
  color: black;
  border-radius: 15px;
  border: 2px solid;
  background-color: rgb(193, 189, 211);

  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

  position: absolute;
  top: 115px;
  right: 45px;
  font-weight: bold;
}

.buttonAlgo {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  margin: a;
  height: 40px;
  width: 170px;
  color: black;
  border-radius: 15px;
  border: 2px solid;
  background-color: rgb(193, 189, 211);

  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

  position: absolute;
  top: 160px;
  right: 45px;
  font-weight: bold;
}

.buttonBid {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: a;
  height: 30px;
  width: 100px;
  color: black;
  border-radius: 10px;
  border: 2px solid;
  background-color: rgb(167, 159, 201);

  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

  font-weight: bold;
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type=text] {
  padding-left: 5px;
  width: 40%;
  height: 25px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type=number] {
  padding-left: 5px;
  width: 40%;
  height: 25px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #555;
}



